@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo(a)!</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Escolha uma das opções acima</a>.</p>
</div>
