@model DesafioApi.Models.Tarefa

@{
    ViewData["Title"] = "Atalizar tarefa";
}
<body style="background-color: #F0FFF0;">
<h1 >Deletar tarefa. </h1>
<h3 style="color: red;">Tem certeza que deseja deletar todos os dados? Esta ação não poderá ser desfeita</h3>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action= "Deletar">
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label><!--Nome da informação -->
                <input asp-for="Titulo" class="form-control"/> <!--Entrada do dado -->
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control"/>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Deletar" class="btn-primary"/> <!-- input submit enviará os dados para o banco via POST -->
            </div>
        </form>
    </div>
</div>

<br>
<div>
    <a style="border-radius: 4px; text-decoration:none" asp-action="Index">Voltar</a>
</div>

</body>